.ImagesSlide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  overflow-x: auto;
  background-color: #171717;
  margin-top: -9px;
}

.image-container {
  position: relative;
  box-sizing: border-box;
  width: 19%;
  margin: 10px 0.5%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 900px;
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

@media only screen and (max-width: 600px) {
  .ImagesSlide {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .image-container {
    flex: none;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
  }

  img.image {
    width: 100%;
    height: auto;
  }

  .slider-indicators {
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: #171717;
  }

  .indicator {
    width: 30px;
    height: 6px;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }

  .indicator.active {
    background-color: #333;
    height: 12px;
  }

  /* Hover effect */
  .indicator:hover {
    background-color: #666;
  }
}

.overlay-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 3.7em;
  font-family: Rubik Mono;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.image-container:hover .overlay-text {
  transform: translateY(0);
}

.image-container:hover .image {
  filter: grayscale(0);
}

.ImagesSlide::-webkit-scrollbar {
  display: none;
}

.ImagesSlide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
