.vision {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* This will cover the area and maintain aspect ratio */
  display: block; /* Removes default inline spacing */
  margin-top: -9px; /* Removes default margin */
}
