* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;
  font-family: 'LEKTON', sans-serif;
}

body {
  padding-top: 80px; /* This should be equal to or greater than the height of your navbar */
}
.logo {
  max-width: 60px;
  height: auto;
  padding: 2px;
  margin-left: 120px;
  margin-top: 15px;
}

nav {
  background: #171717;
  height: 80px;
  width: 100%;
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  float: right;
  margin-right: 150px;
  margin-top: 30px;
}

nav ul li {
  display: inline-block;
  background-color: #3e3e3e;
  margin: 0 15px;
  /* padding: 1px 13px; */
  border-radius: 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  background-color: transparent; /* No background color initially */
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #c03540; /* Background becomes red */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav ul li {
  animation: fadeIn 4s ease-in-out;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.mainPage img {
  background-size: cover;

  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  z-index: -1;
}

.memberships-image {
  max-width: 540px; /* Adjust based on your layout */
  height: 105px;
  display: block;
  border-radius: 10px;
}
.memberships-section {
  position: absolute;
  top: 93.2%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: fadeInUp 1s ease-in-out; /* Apply the animation */
}

@keyframes fadeInUp {
  from {
    transform: translateY(100%); /* Start below the original position */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End at the original position */
    opacity: 1;
  }
}

.join-now {
  position: absolute;
  bottom: 25px;
  right: 45px;

  background-color: white; /* White background */
  color: black; /* Black text */
  padding: 11px 22px;
  border: none;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform to the transition property */
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  /* Add a slight shadow for depth (optional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.join-now:hover {
  background-color: #a9a9a9; /* Grey out the button on hover */
  /* Scale up the button a bit */
  transform: scale(1.09);
  color: white !important;
}
.coming-soon-section {
  position: absolute;
  bottom: 34px;
  right: 56%;
}

.coming-soon {
  background-color: white;
  color: black;
  padding: 12px 22px;
  border: none;
  font-weight: bolder;
  font-size: medium;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}

.coming-soon:hover {
  background-color: #a9a9a9; /* Grey color when hovered */
  color: white; /* Change text color if needed */
}
@media (max-width: 1024px) {
  .memberships-section {
    /* Adjust positioning and/or size for iPad screens */
    top: 89%; /* Example adjustment */
    left: 75%;
    transform: translate(-50%, -40%);
  }

  .memberships-image {
    max-width: 450px; /* Smaller width on iPad */
    height: 155px; /* Maintain aspect ratio */
  }

  .join-now {
    /* Adjust button size and position if needed */
    bottom: 35px;
    right: 20px;
    padding: 18px 25px;
  }

  .coming-soon {
    padding: 15px 12px;
    margin-bottom: 60px;
    margin-right: -20px;
  }
}
@media (max-width: 952px) {
  .logo {
    margin-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 740px) {
  .mainPage img {
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .mainPage {
    background: #171717;
  }
}

@media (max-width: 600px) {
  .memberships-section {
    position: relative;
    z-index: -1;
    top: 66%;

    left: 61%;
    transform: translateX(-50%);
    width: 50%;
  }

  .memberships-image {
    max-width: 120%;
    height: 105px;
  }

  .join-now {
    font-size: 9px;
    padding: 10px 10px;
    margin-right: -48px;
    margin-bottom: -4px;
  }
  .coming-soon-section {
    z-index: -1;
  }
  .coming-soon {
    font-size: 9px;
    padding: 10px 2px;
    margin-right: -11px;
    margin-bottom: 3px;
  }
}
